* {
  box-sizing: border-box;
}

$css--variables: false;
$video-react-text-font-family: "geometric";

@import "~@wfp/ui/src/globals/scss/colors";
@import "~@wfp/ui/src/globals/scss/vars";
@import "~@wfp/ui/src/globals/scss/layout";
@import "~@wfp/ui/src/globals/scss/_typography";
