@import "src/scss/_global.scss";

@keyframes example {
  from {
  }
  to {
    transform: scale(1.2);
  }
}

.button {
  font-weight: bold;
  border: 0;
  background: transparent;
  font-size: 2vw;
  font-weight: normal;
  font-family: "geometric";
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
  opacity: 0;
  position: absolute;
  /* animation-name: example;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;*/

  &:hover {
    background: --ui-02;
  }
  &:focus {
    outline: none;
  }
  .contentWrapper {
    display: flex;
  }
}

.line {
  height: 3px;
  flex-shrink: 0;
  background: #fff;
  padding-left: 3rem;
  transition: all 0.4s;
  transform: scaleX(0);
  transition-timing-function: linear;
  position: relative;
  filter: drop-shadow(2px 2px 5px var(--ui-01-transparent));
  /*position: absolute;
  left: -10.5vw;
  top: 50%;*/
}

.extension {
  position: absolute;
  width: 3px;
  height: 10vh;
  background: #fff;
  transform: scaleY(0);
  transition: all 0.3s;
  transform-origin: bottom left;
}

.extensionUp {
  top: 0;
  transform-origin: top left;
}
.extensionDown {
  bottom: 0;
}
.icon {
  margin: -0.5em 0.2em 0 0.2em;
}
.tooltipWrapperInside {
  transform: translateY(-1em);
}
.content {
  width: 20vw;
  margin: 0.5em 1em 0.5em 1em;
  > span {
    position: relative;
    line-height: 1.4em;
    .contentLine {
      position: relative;
      //display: block;
      &:before {
        position: absolute;
        top: -0.3em;
        left: -0.3em;
        right: -0.3em;
        bottom: -0.3em;
        z-index: -1;
        display: block;
        content: "";
        transition: all 0.3s;
        //opacity: 0;
        background: var(--interactive-01);
      }
    }
    /*&:after {
      position: absolute;
      top: -0.3em;
      left: -0.3em;
      right: -0.3em;
      bottom: -0.3em;
      z-index: -1;
      display: inline-block;
      content: "";
      transition: all 0.3s;
      //opacity: 0;
      background: var(--interactive-01);
    }*/
  }
}

.active {
  opacity: 1;
}

.tooltip {
  max-width: 500px;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.show {
  .content {
    span {
      position: relative;
      &:after {
        opacity: 1;
      }
    }
  }
}

.tooltipWrapper {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  position: absolute;
  width: 10px;

  display: flex;
  &.left {
    text-align: right;
    flex-direction: row-reverse;
    .line {
      transform-origin: top left;
    }
    .extension {
      right: 0;
    }
  }
  &.right {
    text-align: left;
    .line {
      transform-origin: top right;
    }
    .extension {
      left: 0;
    }
  }
  &.tooltipWrapperActive {
    opacity: 1;
    pointer-events: all;
    .line {
      transform: scaleX(1);
    }
    .extension {
      transform: scaleY(1);
      transition: all 0.3s 0.5s;
    }
  }
}

.tooltipLeft {
  text-align: right;
}

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes exampleOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.imageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 10000000;

  display: none;
  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  //transform: translateY(100px);
}

.closeOverlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: all 0.1s;
  .imageOverlayActive & {
    transform: translateY(0);
  }
}

.imageOverlayActive {
  animation-name: example;
  animation-duration: 0.4s;
  display: block;
}

.imageOverlayAnimation {
  animation-name: exampleOut;
  animation-duration: 0.4s;
  display: block;
}

.tooltipOutAnimation {
  animation-name: exampleOut;
  animation-duration: 0.5s;
}
