@import "src/scss/_global.scss";

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  opacity: 1;
  //transition: all 1s;
  //z-index: -100;
  /*animation-name: example;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;*/
  &.pageActive {
    display: flex;
    opacity: 1;
    z-index: 100;
  }
  &.pageAnimate {
    display: flex;
    opacity: 1;
    z-index: 100;
  }
}

.start {
  //opacity: 0;
  .pageActive & {
    //display: block;
    opacity: 1;
  }
}

.entry {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}

@keyframes example {
  0% {
    transform: rotateX(-2deg) rotateY(2deg);
  }
  100% {
    transform: rotateX(-2deg) rotateY(-2deg);
  }
}

@keyframes animatedIcon {
  from {
    transform: translateX(-3px);
  }
  to {
    transform: translateX(3px);
  }
}

.playIcon {
  margin-left: 0.3em;
  fill: var(--text-01);
  position: relative;
  top: -0.01em;
  font-size: 0.7em;
  animation-name: animatedIcon;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.startVideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 1s;
  z-index: 100;
  pointer-events: none;
  :global {
    .video-react-big-play-button {
      display: none;
    }
  }
  .pageActive & {
    opacity: 1;
  }
  .pageAnimate & {
    opacity: 0;
  }
}

.startImage {
  object-fit: cover;
}
