@import "src/scss/_global.scss";

.pageTitle {
  color: var(--text-01);
  font-weight: 800;
  font-family: "geometric";
  padding: 0.7em 1.4em 0.3em 1em;
  border: 0;
  background: var(--interactive-01);
  font-size: 2em;
  max-width: 30%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  text-decoration: none;
  margin-bottom: 1rem;
  clip-path: polygon(0 0, 97.5% 0, 98% 99%, 0% 100%);
  transition: all 0.5s;
  transform: translateX(-100%) scale(0.7);
  //box-shadow: 10px 10px 0px rgba(#000, 0.7);
  .active & {
    transform: translateX(0%);
  }
  &:active {
    background: var(--interactive-02);
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 2em;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
  }
  &.hide {
    opacity: 0;
  }
}

/*@media (hover: hover) and (pointer: fine) {
  .pageTitle:hover {
    background: yellow;
  }
}*/

.pageSubTitle {
  color: var(--text-01);
  font-weight: 300 !important;
  font-family: "geometric";
  padding: 0.7em 1.3em 0.7em 1em;
  border: 0;
  background: var(--interactive-01);
  font-size: 2em !important;
  max-width: 30%;
  position: fixed;
  top: 79vh;
  left: 0;
  z-index: 10000;
  margin-top: 1rem;
  text-decoration: none;
  clip-path: polygon(0 0, 98% 0, 96% 98%, 0% 100%);
  transition: all 0.5s;
  transform: translateX(-100%) scale(0.7);
  .active & {
    transform: translateX(0%);
  }
  &:active {
    background: var(--interactive-02);
  }
}
.restart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  font-size: 2.3em !important;
  height: 4.9em;
  background: var(--interactive-01);
  transition: all 0.3s;
  //clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 96%);
  transition: translateY(0);
  > svg {
    width: 1.7vw !important;
    height: 1.7vw !important;
    transform: translateY(-0.1vw);
  }
  &.hide {
    transform: translateY(-100%);
  }
}

.centerTitle {
  top: 65vh;
  font-size: 2.5em;
  max-width: 55vw;
  &.pageSubTitle {
    top: 80vh;
    font-size: 1.7em;
    font-weight: 400;
  }
}
