@import "src/scss/_global.scss";

.pageTitle {
  color: var(--text-01);
  font-weight: 800;
  font-family: "geometric";
  padding: 0.7em 1.3em 0.3em 1em;
  border: 0;
  background: var(--interactive-01);
  font-size: 2em;
  max-width: 30%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  margin-bottom: 1rem;
  clip-path: polygon(0 0, 98% 0, 98% 99%, 0% 100%);
  transition: all 0.5s;
  transform: translateX(-100%);
  .active & {
    transform: translateX(0%);
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 2em;
    text-transform: uppercase;
  }
  p {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
  }
  &.hide {
    opacity: 0;
  }
}

.pageSubTitle {
  color: var(--text-01);
  font-weight: bold;
  padding: 1em;
  border: 0;
  background: var(--interactive-01);
  font-size: 2em;
  pointer-events: none;
  max-width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  margin-bottom: 1rem;
  clip-path: polygon(0 0, 100% 0, 98% 95%, 0% 100%);
  transition: all 0.5s;
  transform: translateX(-100%);
  .active & {
    transform: translateX(0%);
  }
}
.restart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  font-size: 2.3em !important;
  height: 4.9em;
  background: var(--interactive-01);
  transition: all 0.3s;
  //clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 96%);
  transition: translateY(0);
  > svg {
    width: 1.7vw !important;
    height: 1.7vw !important;
    transform: translateY(-0.1vw);
  }
  &.hide {
    transform: translateY(-100%);
  }
}

.centerTitle {
  top: 65vh;
  font-size: 2.5em;
  max-width: 55vw;
  &.pageSubTitle {
    top: 80vh;
    font-size: 1.7em;
    font-weight: 400;
  }
}
